
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1478581666660'); /* IE9*/
  src: url('iconfont.eot?t=1478581666660#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1478581666660') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1478581666660') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1478581666660#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuochaxun:before { content: "\e607"; }

.icon-bofang:before { content: "\e601"; }

.icon-erweima:before { content: "\e600"; }

.icon-pingzhengchaxun:before { content: "\e656"; }

.icon-iconfont707:before { content: "\e610"; }

.icon-kefu:before { content: "\e621"; }

.icon-next:before { content: "\e60d"; }

.icon-pre:before { content: "\e60e"; }

.icon-yonghu:before { content: "\e624"; }

.icon-jiantou-copy-copy:before { content: "\e60b"; }

.icon-jiantou-copy-copy-copy:before { content: "\e620"; }

.icon-u-arrow3-left:before { content: "\e68d"; }

.icon-u-arrow3-right:before { content: "\e68e"; }

.icon-tianmao:before { content: "\e65f"; }

.icon-jiantou-copy-copy-copy1:before { content: "\e60c"; }

.icon-upward:before { content: "\e61f"; }

